<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span class="blue">&lt;</span>Vacation<span class="blue">&gt;</span> <span class="yellow">Dates</span></h1>
<div>
    <div>
        <div>
            <table class="container">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Info about vacation days</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="employee :${employees}">
                    <td th:text="${employee.employee}"></td>
                    <td><a  th:href="@{/vacationApp/employee/vacations/{id}(id=${employee.employee})}">INFO</a></td>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>