<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span class="blue">&lt;</span>Vacation<span class="blue">&gt;</span> <span class="yellow">Dates</span></h1>
<div>
    <div>
        <div>
            <table class="container">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Start Date</th>
                    <th>End Date</th>

                </tr>
                </thead>
                <tbody>
                <td th:text="${name}"></td>
                <tr th:each="day :${days}">
                    <td></td>
                    <td th:text="${day.vacationStartDate}"></td>
                    <td th:text="${day.vacationEndDate}"></td>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>