<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span class="blue">&lt;</span>Vacation<span class="blue">&gt;</span> <span class="yellow">Dates</span></h1>
<div>
    <div>
        <div>
            <table class="container">
                <thead>
                <tr>
                    <th>Total Vacation days</th>

                </tr>
                </thead>
                <tbody>
                <th th:text="${total}"></th>
                <td><a  th:href="@{/vacationApp/allUsers}">SEE ALL EMPLOYEE</a></td>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>