<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span class="blue">&lt;</span>Social<span class="blue">&gt;</span> <span class="yellow">NETWORK</span></h1>
<div>
    <div>
        <div>
            <table class="container">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Vacation days</th>

                </tr>
                </thead>
                <tbody>
                <th>Vacation days</th>
                <th th:text="${hello}"></th>
                <tr th:each="users :${listusers}">
                    <td th:text="${users.title}"></td>
                    <td th:text="${users.description}"></td>
                    <td th:text="${hello}"></td>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>